@charset "UTF-8";

*,
*::after,
*::before {
    box-sizing: border-box;
}

.menuButton {
    width: max-content;
    height: max-content;
}

.menuButton > span {
    width: 30px;
    height: 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: #ccc;
}

.sideBar {
    position: absolute;
    height: 200px;
    z-index: 999;
    width: 100%;
    background-color: gray;
    top: 45px;
    padding: 10px;
}

.xDivision {

}

.contentArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentArticle ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
