@charset "UTF-8";

.searchBarDivision #magGlassIcon {
    height: 23px;
    width: 23px;
}

.searchMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.favoritos, .carrinho {
    height: 25px;
    width: 25px;
}

.productsNode > .productNode {
    width: 47%;
}

.searchMenuUl li {
    font-size: 0.8em;
}

@media (max-width: 425px){
    .searchMenuUl li {
        width: 70px;
    }
}

@media (max-width: 375px){
    .searchMenuUl li {
        width: 55px;        
    }
}




