@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open sans', sans-serif;
    outline: none;
}

header .headerContainer {
    height:150px;
    padding: 10px;
    background-color: rgb(90, 90, 192);
}

header .headerButtonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.headerButtonRow .innerButtonRow {
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.headerButtonRow button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.headerButtonRow button:not(.menuButton) {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(157, 154, 154);
    border: 1px solid rgb(128, 128, 128);
}

.headerButtonRow .menuButton {
    background-color: transparent;
    border: none;
}

.headerButtonRow .menuButton > span {
    width: 25px;
    height: 4px;
    display: block;
    background-color: lightgray;
}

.headerButtonRow .shopName {
    font: 1.6em 'Comfortaa', cursive;
    color: rgb(38, 37, 37);
}

.searchBarDivision {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.searchBarDivision #query {
    width: 450px;
    height: 20px;
    background-color: rgb(112, 108, 108);
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(65, 64, 64);
}

.searchBarDivision #query::placeholder {
    color: rgb(194, 187, 187);
}

.searchBarDivision #magGlassIcon {
    position: relative;
    left: -30px;
}

.searchMenu .searchMenuUl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchMenuUl > li {
    background-color: rgb(55, 55, 169);
    list-style: none;
    color: rgb(228, 225, 225);
    min-width: 90px;
    text-align: center;
    padding: 7px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.123);
    transition: transform ease .5s, background-color ease .5s, color ease .5s;
}

.searchMenuUl > li:hover {
    background-color: rgb(215, 209, 249);
    color: black;
    transform: translate(-2px, -2px);
}

.mainBodySect {
    background-color: rgb(255, 255, 255);
}

.mainBodySect > .container > .scrollLateralProdutos{
    background-color: gray;
    height: 150px;
    overflow: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 40px;
}

.scrollLateralProdutos::-webkit-scrollbar{
    background-color: rgba(240, 248, 255, 0);
    height: 15px;
}
.scrollLateralProdutos::-webkit-scrollbar-thumb{
    background-color: rgba(116, 116, 116, 0.507);
}

.scrollLateralProdutos::-webkit-scrollbar-track{
    background-color: rgb(198, 198, 198);
}

.scrollLateralProdutos::-webkit-scrollbar-thumb:hover {
    background-color: rgba(142, 141, 141, 0.507);
}

.scrollLateralProdutos > .produtosScroll {
    width: 90px;
    height: 90px;
}

.scrollLateralProdutos .scrollImgContainer {
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-color: white;
}

.scrollLateralProdutos > article {
    text-align: center;
}

.scrollNames {
    height: 20px;
    width: 90px;
}

.scrollNames > a {
    text-decoration: none;
    color: black;
}

.scrollNames > a:hover {
    color: rgb(20, 20, 255);
    text-decoration: underline;
}

footer {
    background-color: gray;
    height: 100px;
    padding: 10px;
    color: rgb(43, 43, 43);
}